/*Header*/

h1 {
    text-align: left;
    margin-top: 5px;
    margin-left: auto;
}


.nav-barre {
    background-color: rgb(16, 16, 112);
    padding: 10px;
    text-align: center;
    border-radius: 4px;
    margin-bottom: 30px;
}


/*header*/

/*main*/

.new {
    background-color: rgb(167, 10, 10);
    color: white;
    border-radius: 4px;
    padding: 10px 12em;
    font-size: larger;
    font-weight: 600;
    display: block;
    margin: 30px auto;
}


.fixed,
.regional,
.industry {
    border: 1px solid lightgray;
    margin-top: 30px;
    border-radius: 4px;
    background-color: white;
}

h2,
p,
a,
li {
    background-color: white;
}

.titles {
    display: flex;
    gap: 40px;
    padding-top: 10px;
    margin: ;
}

.IA-general,
.finance,
.new-york {
    border: 1px solid gray;
    color: white;
    border-radius: 4px;
    padding: 10px 12em;
    font-size: larger;
    font-weight: 600;
    display: block;
    margin: 30px auto;
}

.plus-sujets {
    text-align: center;
    color: rgb(16, 16, 112);
}

/*main*/